html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #333;
}

.container .layout {
  width: 500px;
}

.todo-option-container {
  display: flex;
  justify-content: space-between;
}

.todo-input-box {
  display: flex;
  padding: 15px 10px;
  border: 1px solid gray;
}

.todos-container {
  padding: 15px 10px;
  border: 1px solid gray;
}

.form-group {
  padding-left: 0;
}

.show-list {
  padding: 0;
  margin-top: 15px;
  position: relative;
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.submit-btn {
  width: 50px;
  display: block;
  cursor: pointer;
}

.warn {
  background-color: lightcoral;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-content {
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
  top: 0;
  padding: 10px 25px;
  width: 20%;
}

.hidden {
  display: none;
}

.checked {
  background: lightgreen;
}
